// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  @include breakpoint($breakpoint-tablet--large) {
    margin-bottom: 500px;
  }

  padding: 0;
}

.hero {
  &__content {
    @include breakpoint($breakpoint-tablet--large) {
      padding-bottom: 60px;
    }

    @include breakpoint($breakpoint-mobile--medium) {
      padding-top: 40px;
      padding-bottom: 0;

      border-right: 0;
    }

    height: 100%;
    padding-top: 100px;
    border-right: 2px solid $palette-darkgray;
  }

  &__title {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__title--medium;
    }

    @include breakpoint($breakpoint-mobile--large) {
      padding-bottom: 24px;
      font-size: $font-size__title--small;
    }

    position: relative;
    display: flex;
    flex-direction: column;

    padding-bottom: 42px;

    font-size: $font-size__title--large;

    line-height: $line-height--secondary;
    text-transform: uppercase;

    &::after {
      @include breakpoint($breakpoint-mobile--medium) {
        right: -50px;
      }

      content: "";
      position: absolute;
      right: 0;
      bottom: 0;

      display: block;
      width: 200%;
      height: 2px;

      background-color: $palette-darkgray;
    }

    span {
      &:nth-child(1) {
        @include breakpoint($breakpoint-mobile--large) {
          margin-left: 15px;
        }

        margin-left: 60px;
      }

      &:nth-child(2) {
        @include breakpoint($breakpoint-mobile--large) {
          margin-left: 121px;
        }

        @include breakpoint($breakpoint-mobile--medium) {
          margin-left: 60px;
        }
      }

      &:nth-child(3) {
        @include breakpoint($breakpoint-mobile--large) {
          margin-left: 0;
        }

        margin-left: 98px;
      }
    }
  }

  &__wrapper {
    @include breakpoint($breakpoint-mobile--medium) {
      padding-right: 18px;
      padding-bottom: 80px;

      border-right: 2px solid $palette-darkgray;
    }
  }

  &__text {
    @include breakpoint($breakpoint-mobile--medium) {
      padding-top: 24px;
    }

    padding-top: 70px;
  }

  .button {
    @include breakpoint($breakpoint-mobile--medium) {
      width: 100%;
      margin: 0 auto;
    }
  }

  &__picture {
    @include breakpoint($breakpoint-laptop) {
      width: 130%;
    }

    @include breakpoint($breakpoint-tablet--large) {
      position: absolute;
      left: 0;
      width: 100vw;
      max-width: initial;
      height: 500px;
    }

    width: 150%;
    max-width: 600px;
  }
}
