main#home {
  .portfolio {
    &__picture {
      height: 640px;
    }

    &__more {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      margin-top: 20px;

      a {
        margin-left: 24px;

        color: $color-text__gray;

        font-weight: $weight-SemiBold;
        font-family: Mukta, sans-serif;
      }
    }
  }
}
