<div class="service-item">
  <picture class="service-item__picture">
    <img src="@@image" alt="">
  </picture>

  <div class="service-item__wrapper">
    <div class="service-item__content">
      <h3 class="service-item__title">@@title</h3>
      <div class="service-item__price">@@price</div>
    </div>
    <!-- /.service-item__content -->

    <div class="service-item__action">
      <button class="button button-secondary me-2">Подробнее</button>
      <button class="button button-primary">Записаться</button>
    </div>
    <!-- /.service-item__action -->
  </div>
  <!-- /.service-item__wrapper -->
</div>
<!-- /.service-item -->