// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
}

.header {
  @include breakpoint($breakpoint-mobile--medium) {
    background-color: $palette-white;
  }

  position: sticky;
  z-index: $z-index-header;
  top: 0;

  padding: 15px 0;
  background-color: $palette-gray;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__nav {
    margin-left: auto;
  }

  &__action {
    display: flex;
    align-items: center;

    margin-left: 40px;

    .button {
      margin-left: 24px;
    }
  }

  &__logo {
    @include breakpoint($breakpoint-mobile--medium) {
      margin: 0 auto;
    }
  }

  &__callback {
  }
}
