// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
  }

  &__link {
    color: $color-text__gray;
  }

  &--header {
    .nav__item {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &--footer {
    .nav__item {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
