.section {
  @include breakpoint($breakpoint-tablet--large) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include breakpoint($breakpoint-mobile--medium) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  padding-top: 100px;
  padding-bottom: 100px;

  &--gray {
    background-color: $palette-gray;
  }

  &--overflow {
    overflow: hidden;
  }

  &__header {
    @include breakpoint($breakpoint-laptop) {
      margin-bottom: 45px;
    }

    @include breakpoint($breakpoint-mobile--medium) {
      margin-bottom: 30px;
    }

    margin-bottom: 60px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__title--medium;
    }

    @include breakpoint($breakpoint-mobile--medium) {
      font-size: $font-size__title--small;
    }

    font-size: $font-size__title--large;
    text-transform: uppercase;
  }
}
