.section {
  padding-top: 100px;
  padding-bottom: 100px;

  &--gray {
    background-color: $palette-gray;
  }

  &--overflow {
    overflow: hidden;
  }

  &__header {
    @include breakpoint($breakpoint-laptop) {
      margin-bottom: 45px;
    }

    margin-bottom: 60px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__title--medium;
    }

    font-size: $font-size__title--large;
    text-transform: uppercase;
  }
}
