.logo {
  transition: $transition ease;

  @media (hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }

  &--header {
    @include breakpoint($breakpoint-mobile--medium) {
      width: 60px;
    }

    width: 80px;
  }

  &--footer {
    width: 80px;
  }
}
