.table-material {
  @include breakpoint($breakpoint-mobile--large) {
    font-size: $font-size__text--big;
  }

  font-size: $font-size__text--large;

  .table__row > div {
    &:not(:first-child) {
      flex-shrink: 0;
    }

    &:nth-child(2) {
      margin-left: auto;
      color: $color-text__gray;
      text-align: right;
    }

    &:last-child {
      margin-left: 12px;
      font-family: RobotoCondensed, sans-serif;
      text-align: right;
    }
  }
}
