.slider-portfolio {
  .swiper-slide {
    opacity: 0.4;
    transition: $transition ease;
  }

  .swiper-slide-active,
  .swiper-slide-duplicate-active {
    opacity: 1;
  }

  .swiper-button--circle {
    @include breakpoint($breakpoint-mobile--medium) {
      display: none;
    }
  }
}
