.slider-feedback-home {
  .swiper-slide {
    @include breakpoint($breakpoint-laptop) {
      width: 500px;
      height: 500px;
    }

    @include breakpoint($breakpoint-mobile--medium) {
      height: 300px;
    }

    width: 640px;
    height: 640px;
  }
}
