.service-item {
  display: flex;

  width: 100%;
  padding: 20px 0;

  border-bottom: 1px solid #dedcd9;

  &:first-child {
    border-top: 1px solid #dedcd9;
  }

  &__picture {
    @include breakpoint($breakpoint-laptop) {
      margin-right: 25px;
    }

    width: 160px;
    height: 160px;

    margin-right: 40px;
  }

  &__wrapper {
    @include breakpoint($breakpoint-tablet--large) {
      min-height: 160px;
    }

    display: flex;
    flex: 1;
    flex-direction: column;

    min-height: 140px;
  }

  &__content {
    @include breakpoint($breakpoint-tablet--large) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include breakpoint($breakpoint-tablet) {
      flex: 1;
      margin-bottom: 12px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--large + 4px;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--large + 1px;
    }

    font-size: $font-size__title--small;
  }

  &__price {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--large + 4px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      margin-top: 30px;
      margin-left: auto;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-top: auto;
      font-size: $font-size__text--large + 1px;
    }

    font-style: italic;
    font-size: $font-size__title--small;
    font-family: RobotoCondensed, sans-serif;
  }

  &__action {
    @include breakpoint($breakpoint-tablet--large) {
      margin-top: 18px;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-top: auto;
    }

    margin-top: auto;
    margin-left: auto;
  }
}
