.team-item {
  @include breakpoint($breakpoint-mobile--medium) {
    flex-direction: column;
    align-items: flex-start;
  }

  display: flex;
  align-items: center;

  padding: 20px;

  background-color: $palette-white;

  &__wrapper {
    @include breakpoint($breakpoint-laptop) {
      margin-left: 25px;
    }

    @include breakpoint($breakpoint-mobile--medium) {
      margin-top: 20px;
      margin-left: 0;
    }

    margin-left: 40px;
  }

  &__photo {
    @include breakpoint($breakpoint-laptop) {
      width: 100px;
      height: 100px;
    }

    @include breakpoint($breakpoint-mobile--medium) {
      width: 160px;
      height: 160px;
      margin: 0 auto;
    }

    overflow: hidden;

    width: 130px;
    height: 130px;

    border-radius: 50%;
  }

  &__name {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--large;
    }

    @include breakpoint($breakpoint-mobile--medium) {
      font-size: $font-size__text--large + 4px;
    }

    margin-bottom: 4px;
    font-size: $font-size__title--small;
  }

  &__role {
    color: $color-text__gray;
  }
}
