@@include('layout/partials/header.html')

<!-- Основной контент -->
<main>
  <section id="hero" class="section">
    <div class="container">
      <div class="hero">
        <div class="row">
          <div class="col-7">
            <div class="hero__content">
              <div class="row">
                <div class="col-12">
                  <h1 class="hero__title">
                    <span>Доверь</span>
                    <span>свою красоту </span>
                    <span>профессионалам </span>
                  </h1>
                </div>
                <!-- /.col-12 -->

                <div class="col-7 offset-4 p-0">
                  <p class="hero__text">
                    Бережное безоперационная коррекция эстетических особенностей лица и тела, естественный результат с сохранением индивидуальности
                  </p>
                </div>
                <!-- /.col-7 offset-2 -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.hero__content -->
          </div>
          <!-- /.col-7 -->

          <div class="col-5">
            <picture class="hero__picture lazy">
              <img class="image image--cover lazy__item" data-src="img/layout/page/index/hero/picture.jpg" alt="">
            </picture>
          </div>
          <!-- /.col-5 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.hero -->
    </div>
    <!-- /.container -->
  </section>

  <section id="advantage" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title">
          Преимущества
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="advantage">
        <div class="row">
          <div class="col-9 offset-2">
            <div class="advantage__wrapper">
              <div class="advantage__item advantage-item">
                <div class="advantage-item__number">1</div>
                <div class="advantage-item__wrapper">
                  <h3 class="advantage-item__title">Качественные работы</h3>
                  <p class="advantage-item__text">
                    Наши специалисты влюблены в свою работу и проходят постоянные повышения квалификации
                  </p>
                </div>
              </div>

              <div class="advantage__item advantage-item">
                <div class="advantage-item__number">2</div>
                <div class="advantage-item__wrapper">
                  <h3 class="advantage-item__title">Отличный сервис</h3>
                  <p class="advantage-item__text">
                    Каждому гостю мы стараемся уделить максимум внимания и сделать посещение нашего салона комфортным
                  </p>
                </div>
              </div>

              <div class="advantage__item advantage-item">
                <div class="advantage-item__number">3</div>
                <div class="advantage-item__wrapper">
                  <h3 class="advantage-item__title">Экономия вашего времени</h3>
                  <p class="advantage-item__text">
                    Специалисты делают свою работу качественно и быстро, уважая ваше время
                  </p>
                </div>
              </div>

              <div class="advantage__item advantage-item">
                <div class="advantage-item__number">4</div>
                <div class="advantage-item__wrapper">
                  <h3 class="advantage-item__title">Дизайнерский интерьер</h3>
                  <p class="advantage-item__text">
                    Эстетичная атмосфера, созданная талантливыми дизайнерами интерьеров
                  </p>
                </div>
              </div>
            </div>
            <!-- /.advantage__wrapper -->
          </div>
          <!-- /.col-9 offset-2 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.advantage -->
    </div>
    <!-- /.container -->
  </section>
</main>

@@include('layout/partials/footer.html')