@@include('layout/partials/header.html')

<!-- Основной контент -->
<main id="home">
  <section id="hero" class="section">
    <div class="container">
      <div class="hero">
        <div class="row">
          <div class="col-7">
            <div class="hero__content">
              <div class="row">
                <div class="col-12">
                  <h1 class="hero__title">
                    <span>Доверь</span>
                    <span>свою красоту </span>
                    <span>профессионалам </span>
                  </h1>
                </div>
                <!-- /.col-12 -->

                <div class="col-7 offset-4 p-0">
                  <p class="hero__text">
                    Бережное безоперационная коррекция эстетических особенностей лица и тела, естественный результат с сохранением индивидуальности
                  </p>
                </div>
                <!-- /.col-7 offset-2 -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.hero__content -->
          </div>
          <!-- /.col-7 -->

          <div class="col-5">
            <picture class="hero__picture lazy">
              <img class="image image--cover lazy__item" data-src="img/layout/page/index/hero/picture.jpg" alt="">
            </picture>
          </div>
          <!-- /.col-5 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.hero -->
    </div>
    <!-- /.container -->
  </section>

  <section id="advantage" class="section section--gray">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title">
          Преимущества
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="advantage">
        <div class="row">
          <div class="col-9 offset-2">
            <div class="advantage__wrapper">
              <div class="advantage__item advantage-item">
                <div class="advantage-item__number">1</div>
                <div class="advantage-item__wrapper">
                  <h3 class="advantage-item__title">Качественные работы</h3>
                  <p class="advantage-item__text">
                    Наши специалисты влюблены в свою работу и проходят постоянные повышения квалификации
                  </p>
                </div>
              </div>

              <div class="advantage__item advantage-item">
                <div class="advantage-item__number">2</div>
                <div class="advantage-item__wrapper">
                  <h3 class="advantage-item__title">Отличный сервис</h3>
                  <p class="advantage-item__text">
                    Каждому гостю мы стараемся уделить максимум внимания и сделать посещение нашего салона комфортным
                  </p>
                </div>
              </div>

              <div class="advantage__item advantage-item">
                <div class="advantage-item__number">3</div>
                <div class="advantage-item__wrapper">
                  <h3 class="advantage-item__title">Экономия вашего времени</h3>
                  <p class="advantage-item__text">
                    Специалисты делают свою работу качественно и быстро, уважая ваше время
                  </p>
                </div>
              </div>

              <div class="advantage__item advantage-item">
                <div class="advantage-item__number">4</div>
                <div class="advantage-item__wrapper">
                  <h3 class="advantage-item__title">Дизайнерский интерьер</h3>
                  <p class="advantage-item__text">
                    Эстетичная атмосфера, созданная талантливыми дизайнерами интерьеров
                  </p>
                </div>
              </div>
            </div>
            <!-- /.advantage__wrapper -->
          </div>
          <!-- /.col-9 offset-2 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.advantage -->
    </div>
    <!-- /.container -->
  </section>

  <section id="service" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title">
          Услуги
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="service">
        <div class="service__wrapper">
          @@loop('layout/template/service-item.html', [
          {'image': "img/content/service/1.jpg", 'title': "Филлеры", 'price': "от 400 до 680 BYN"},
          {'image': "img/content/service/2.jpg", 'title': "Заполнение носослезной борозды", 'price': "от 400 до 680 BYN"},
          {'image': "img/content/service/3.jpg", 'title': "Безоперационная ринопластика", 'price': "от 400 до 680 BYN"},
          ])
        </div>
        <!-- /.service__wrapper -->

        <div class="service__action">
          <div class="service__count">
            Прайс <span>36 услуг</span>
          </div>

          <img class="ms-auto" src="img/icons/misc/arrow__right.svg" alt="">

          <a class="stretched-link" href=""></a>
        </div>
        <!-- /.service__action -->
      </div>
      <!-- /.service -->
    </div>
    <!-- /.container -->
  </section>

  <section id="team" class="section section--gray">
    <div class="container">
      <div class="team">
        <div class="row gy-4">
          <div class="col-6">
            <div class="section__header">
              <h2 class="section__title">
                Специалисты
              </h2>
            </div>
            <!-- /.section__header -->
          </div>
          <!-- /.col-6 -->

          <div class="col-6">
            @@include('layout/template/team-item.html', {
            "photo": "img/content/team/1.jpg",
            "name": "Виктория Инеенко",
            "role": "Косметолог, дерматолог"
            })
          </div>
          <!-- /.col-6 -->

          <div class="col-6">
            @@include('layout/template/team-item.html', {
            "photo": "img/content/team/2.jpg",
            "name": "Анастасия Чапина",
            "role": "Косметолог, дерматолог"
            })
          </div>
          <!-- /.col-6 -->

          <div class="col-6">
            @@include('layout/template/team-item.html', {
            "photo": "img/content/team/3.jpg",
            "name": "Виктория Московкина",
            "role": "Косметолог, дерматолог"
            })
          </div>
          <!-- /.col-6 -->

          <div class="col-6">
            @@include('layout/template/team-item.html', {
            "photo": "img/content/team/4.jpg",
            "name": "Надежда Железина",
            "role": "Косметолог, дерматолог"
            })
          </div>
          <!-- /.col-6 -->


          <div class="col-6">
            @@include('layout/template/team-item.html', {
            "photo": "img/content/team/1.jpg",
            "name": "Виктория Чапина",
            "role": "Косметолог, дерматолог"
            })
          </div>
          <!-- /.col-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.team -->
    </div>
    <!-- /.container -->
  </section>

  <section id="about" class="section">
    <div class="container">
      <div class="about">
        <div class="row">
          <div class="col-7">
            <div class="about__content">

              <div class="row">
                <div class="col-12">
                  <div class="section__header">
                    <h2 class="section__title">
                      О нас
                    </h2>
                  </div>
                  <!-- /.section__header -->

                  <div class="col-8 offset-3">
                    <h3 class="about__subtitle">
                      Быть внешне привлекательной в любое время суток – легко!
                    </h3>

                    <p class="about__text">
                      Все, что для этого требуется – желание, свободное время и хорошее настроение. Остальное возьмет на себя молодая команда мастеров салона красоты Med in love. Мы гарантируем индивидуальный подход к каждому клиенту, поэтому вы точно останетесь довольны полученным результатом.
                    </p>
                  </div>
                  <!-- /.col-8 -->
                </div>
                <!-- /.col-12 -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.about__content -->
          </div>
          <!-- /.col-7 -->

          <div class="col-5">
            <picture class="about__picture lazy">
              <img class="image image--cover lazy__item" data-src="img/layout/page/index/about/picture.jpg" alt="">
            </picture>

            <p class="mt-4 pb-5">
              Салон красоты Med in love – уникальный креативный салон красоты в Минске и Москве с невероятной атмосферой, сервисом и максимальным комфортом
            </p>
          </div>
          <!-- /.col-5 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.about -->
    </div>
    <!-- /.container -->
  </section>

  <section id="portfolio" class="section section--gray section--overflow">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title">
          Портфолио
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="portfolio">
        <div class="portfolio__slider slider">
          <div class="swiper swiper--overflow slider-portfolio-home">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture class="portfolio__picture lazy">
                  <img class="image image--cover lazy__item" data-src="img/content/portfolio/1.jpg" alt="">
                </picture>
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <picture class="portfolio__picture lazy">
                  <img class="image image--cover lazy__item" data-src="img/content/portfolio/2.jpg" alt="">
                </picture>
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <picture class="portfolio__picture lazy">
                  <img class="image image--cover lazy__item" data-src="img/content/portfolio/1.jpg" alt="">
                </picture>
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <picture class="portfolio__picture lazy">
                  <img class="image image--cover lazy__item" data-src="img/content/portfolio/2.jpg" alt="">
                </picture>
              </div>
              <!-- /.swiper-slide -->
            </div>
            <!-- /.swiper-wrapper -->
          </div>
          <!-- /.swiper slider-portfolio -->
        </div>
        <!-- /.slider -->

        <div class="portfolio__more">
          Больше работ в нашем инстаграме

          <a class="link link--icon" href="" target="_blank">
            @@include('img/icons/social/instagram.svg')
            _med_in_love_
          </a>
        </div>
        <!-- /.portfolio__more -->
      </div>
      <!-- /.portfolio -->
    </div>
    <!-- /.container -->
  </section>

  <section id="feedback" class="section section--overflow">
    <div class="container position-relative">
      <div class="section__header">
        <h2 class="section__title">
          Отзывы
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="feedback">
        <div class="feedback__slider slider">
          <div class="swiper swiper--overflow slider-feedback-home">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture class="feedback__picture lazy">
                  <img class="image image--contain lazy__item" data-src="img/content/feedback/1.jpg" alt="">
                </picture>
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <picture class="feedback__picture lazy">
                  <img class="image image--contain lazy__item" data-src="img/content/feedback/2.jpg" alt="">
                </picture>
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <picture class="feedback__picture lazy">
                  <img class="image image--contain lazy__item" data-src="img/content/feedback/1.jpg" alt="">
                </picture>
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <picture class="feedback__picture lazy">
                  <img class="image image--contain lazy__item" data-src="img/content/feedback/2.jpg" alt="">
                </picture>
              </div>
              <!-- /.swiper-slide -->
            </div>
            <!-- /.swiper-wrapper -->
          </div>
          <!-- /.swiper slider-feedback -->
        </div>
        <!-- /.slider -->
      </div>
      <!-- /.feedback -->
    </div>
    <!-- /.container -->
  </section>
</main>

@@include('layout/partials/footer.html')