@@include('layout/partials/header.html')

<main id="single-service">
  <section id="service-description" class="section">
    <div class="container">
      <div class="section__header">
        <h1 class="section__title">
          Моно нити
        </h1>
      </div>
      <!-- /.section__header -->

      <div class="service-description">
        <div class="row align-items-start">
          <div class="col-4 position-sticky">
            <picture class="service-description__picture lazy">
              <img class="image image--cover lazy__item" data-src="img/content/service/picture.jpg" alt="">
            </picture>

            <p class="service-description__info">
              Количество нитей подбирается индивидуально косметологом после личной консультации
            </p>

            <div class="service-description__body">
              Зоны
              <ul>
                <li>Щеки</li>
                <li>Области под глазами</li>
                <li>Второй подбородок</li>
                <li>Живот</li>
                <li>Ягодицы</li>
                <li>Лоб</li>
              </ul>
            </div>
            <!-- /.service-description__body -->
          </div>
          <!-- /.col-4 -->

          <div class="col-8">
            <div class="service-description__block">
              <h3 class="service-description__title">Материалы</h3>
              <div class="table table-material">
                <div class="table__row">
                  <div>Deep/shape</div>
                  <div>1 мл</div>
                  <div>400 BYN</div>
                </div>

                <div class="table__row">
                  <div>Juvederm</div>
                  <div>0,55 мл</div>
                  <div>530 BYN</div>
                </div>

                <div class="table__row">
                  <div>Stylage</div>
                  <div>1 мл</div>
                  <div>700 BYN</div>
                </div>
              </div>
            </div>
            <!-- /.service-description__block -->

            <div class="service-description__block">
              <h3 class="service-description__title">Виды нитей</h3>
              <div data-editor="default" class="service-description__content">
                <h4>Мононити (линейные)</h4>
                <p>
                  Призваны укрепить зону коррекции, проармировать, уплотнить, ревитализировать. Нити вводятся непосредственно в глубокие слои кожи, образуя «каркас», тем самым укрепляя кожу и улучшая ее состояния, как после сеансов мезотерапии. Спиральные нити применяются с той же целью, но преимущественно в подвижных зонах, в зонах повышенной
                  мимической активности. Процедура армирования кожи мезонитями называется «3d Мезонити»
                </p>

                <h4>Нити с насечками</h4>
                <p>
                  Используются для перемещения тканей в проблемных зонах с целью лифтинга провисающих участков. После установки нитей, косметолог мягкими движениями «насаживает» кожу на нити, а насечки не дают ей вернуться обратно. Они фиксируют ткань в нужном положении и предотвращают дальнейшее ее опущение. В нашей клинике для нитевого лифтинга
                  применяются нити Коги из полидиоксанона и нити Аптос из
                </p>

                <h4>Жидкие мезонити</h4>
                <p>
                  Инъекционная омоложивающая процедура, во время которой в кожу вводится препарат, стимулирующий образование коллагена. Препарат распределяется в глубоких слоях кожи специальной канюлей, образуя «нити» из полимолочной кислоты.
                </p>
              </div>
              <!-- /.service-description__content -->
            </div>
            <!-- /.service-description__block -->

            <div class="service-description__block">
              <h3 class="service-description__title">Противопоказания</h3>
              <div data-editor="default" class="service-description__content">
                <ul>
                  <li>онкология</li>
                  <li>аутоиммунные заболевания</li>
                  <li>нарушение свертываемости крови;</li>
                  <li>индивидуальная непереносимость используемых препаратов</li>
                  <li>инфекции в организме</li>
                  <li>стадия обострения хронических заболеваний</li>
                  <li>склонность к образованию келоидных рубцов</li>
                  <li>беременность и лактация</li>
                </ul>
              </div>
              <!-- /.service-description__content -->
            </div>
            <!-- /.service-description__block -->
          </div>
          <!-- /.col-8 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.service-description -->
    </div>
    <!-- /.container -->
  </section>

  <section id="service-portfolio" class="section section--gray">
    <div class="service-portfolio">
      <div class="container">
        <div class="section__header">
          <h2 class="section__title">
            Работы
          </h2>
        </div>
        <!-- /.section__header -->

        <div class="slider">
          <div class="swiper swiper--overflow slider-portfolio">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture class="service-portfolio__picture lazy">
                  <img class="image image--cover " src="img/content/service/portfolio/1.jpg" alt="">
                </picture>
                <!-- /.service-portfolio__picture lazy -->
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <picture class="service-portfolio__picture lazy">
                  <img class="image image--cover " src="img/content/service/portfolio/2.jpg" alt="">
                </picture>
                <!-- /.service-portfolio__picture lazy -->
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <picture class="service-portfolio__picture lazy">
                  <img class="image image--cover " src="img/content/service/portfolio/3.jpg" alt="">
                </picture>
                <!-- /.service-portfolio__picture lazy -->
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <picture class="service-portfolio__picture lazy">
                  <img class="image image--cover " src="img/content/service/portfolio/1.jpg" alt="">
                </picture>
                <!-- /.service-portfolio__picture lazy -->
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <picture class="service-portfolio__picture lazy">
                  <img class="image image--cover " src="img/content/service/portfolio/2.jpg" alt="">
                </picture>
                <!-- /.service-portfolio__picture lazy -->
              </div>
              <!-- /.swiper-slide -->
            </div>
            <!-- /.swiper-wrapper -->

            <div class="swiper-button-prev swiper-button--circle"></div>
            <div class="swiper-button-next swiper-button--circle"></div>
          </div>
          <!-- /.swiper slider-portfolio -->
        </div>
        <!-- /.slider -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.service-portfolio -->
  </section>

  <section id="service-recommend" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title">
          Вам может понравиться
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="service-recommend">
        <div class="row g-1">
          <div class="col-4">
            <div class="recommend-item">
              <div class="recommend-item__content">
                <h3 class="recommend-item__title">Мезотерапия</h3>
                <img class="recommend-item__arrow" src="img/icons/misc/arrow--long.svg" alt="">
              </div>
              <!-- /.recommend-item__content -->

              <img class="recommend-item__bg" src="img/layout/single/service/recommend/1.png" alt="">

              <a class="stretched-link" href=""></a>
            </div>
            <!-- /.recommend-item -->
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            <div class="recommend-item">
              <div class="recommend-item__content">
                <h3 class="recommend-item__title">Мезотерапия</h3>
                <img class="recommend-item__arrow" src="img/icons/misc/arrow--long.svg" alt="">
              </div>
              <!-- /.recommend-item__content -->

              <img class="recommend-item__bg" src="img/layout/single/service/recommend/2.png" alt="">

              <a class="stretched-link" href=""></a>
            </div>
            <!-- /.recommend-item -->
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            <div class="recommend-item">
              <div class="recommend-item__content">
                <h3 class="recommend-item__title">Мезотерапия</h3>
                <img class="recommend-item__arrow" src="img/icons/misc/arrow--long.svg" alt="">
              </div>
              <!-- /.recommend-item__content -->

              <img class="recommend-item__bg" src="img/layout/single/service/recommend/3.png" alt="">

              <a class="stretched-link" href=""></a>
            </div>
            <!-- /.recommend-item -->
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            <div class="recommend-item">
              <div class="recommend-item__content">
                <h3 class="recommend-item__title">Мезотерапия</h3>
                <img class="recommend-item__arrow" src="img/icons/misc/arrow--long.svg" alt="">
              </div>
              <!-- /.recommend-item__content -->

              <img class="recommend-item__bg" src="img/layout/single/service/recommend/4.png" alt="">

              <a class="stretched-link" href=""></a>
            </div>
            <!-- /.recommend-item -->
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            <div class="recommend-item">
              <div class="recommend-item__content">
                <h3 class="recommend-item__title">Мезотерапия</h3>
                <img class="recommend-item__arrow" src="img/icons/misc/arrow--long.svg" alt="">
              </div>
              <!-- /.recommend-item__content -->

              <img class="recommend-item__bg" src="img/layout/single/service/recommend/5.png" alt="">

              <a class="stretched-link" href=""></a>
            </div>
            <!-- /.recommend-item -->
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            <div class="recommend-item">
              <div class="recommend-item__content">
                <h3 class="recommend-item__title">Мезотерапия</h3>
                <img class="recommend-item__arrow" src="img/icons/misc/arrow--long.svg" alt="">
              </div>
              <!-- /.recommend-item__content -->

              <img class="recommend-item__bg" src="img/layout/single/service/recommend/6.png" alt="">

              <a class="stretched-link" href=""></a>
            </div>
            <!-- /.recommend-item -->
          </div>
          <!-- /.col-4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.service-recommend -->
    </div>
    <!-- /.container -->
  </section>

  <div class="service-order" data-hide="footer">
    <div class="container">
      <div class="service-order__wrapper">
        <h3 class="service-order__title">Моно нити</h3>
        <div class="service-order__info">1 шт</div>
        <div class="service-order__price">35 BYN </div>
        <button class="service-order__button button button-primary">Записаться</button>
      </div>
      <!-- /.service-order__wrapper -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.service-order -->
</main>

@@include('layout/partials/footer.html')